<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>List of relevant posts from today:</h3>
    <ul>
      <% @results.each do |result| %>
        <li>
          <%= link_to result.post.facebook_id, result.post.url %>
        </li>
      <% end %>
    </ul>
  </body>
</html>